
/*----------------------------  Main Page Styling  ----------------------------*/
.kitid{
		width:15%;
}
.equipmentid{
		width:18%
}
.userid{
		width:19%
}
.issue_date{
		width:19%;
}
.due_date{
		width:19%;
}
.filler{
		width:10%;
}
#listed-equipment-label{
		width:15%;
}
#listed-equipment{
		width:84%;
}
