/*
* @Project: Loaner Application for Roski School of Fine Arts, University of Southern California
* @Author:  Ashit Vora (http://scf.usc.edu/~ashitkvo/)
* @ModifiedBy: May 2011 by André S. Kelly (andrekel@usc.edu)
* @ModifiedBy: February 2012 by Nikhil Handyal (handyal@usc.edu)
*/
*{
		font-family: "Lucida Grande", Arial, Verdana;
		font-size:12px;
		outline:none;
		word-wrap:break-word;
}

img{
	vertical-align:middle;
	margin:1px;
}

h1{
	font-size:28px;
}

h2{
	font-size:20px;
	font-weight:bold;
	font-family:Georgia, Heveltica, Arial;
	margin:5px;
}

h3{
	font-size:18px;
	font-weight:bold;
}

strong{
	font-weight:bold;
}

input, textarea{
    padding:2px;
}

input[type=checkbox]{
	margin-right:5px;
	vertical-align:middle;
}

td{
	padding:3px 10px 5px 3px;
	vertical-align:top;	
	border-bottom: 1px solid #CCC;
}

table{
	margin:10px 0px 0px 0px;
	width:100%;
}

label{
    font-size:13px;
    color:#222;
    padding:5px;
		vertical-align: top;
}

a{
	color:#39f;
}

#error{
	display:none;
	margin:2px 0px 2px 0px;
	padding:5px;
	font-size:15px;
	font-weight:bold;
	border:#f00 thin solid;
	color:#000;
	overflow: hidden;
	z-index: 999;
	width: 100%;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #E25255;
	min-height: 25px;
	opacity: .8;
}

.not_scanned{
	background-color:#f96;
}

.scanned{
	background-color:#ff9;
}

.required {
	color: red;
}

input:focus, textarea:focus {
	background-color: #FF9;
}

#overlay-win{
	position:absolute;
	background-color:#000;
	z-index:2;
	top:0;
	left:0;
	display:none;
	width:100%;
	height:100%;
	opacity:0.75;
	filter:alpha(opacity=75); /* IE's opacity*/
}

.hint{
	font-size:11px;
	font-style:italic;
	margin-left:7px;
}

/*
 * Use 1000px layout. Centeralize the content if the screen size is larger
 */ 
#page{
	width:90%;
	margin:auto;
}

/*
 * -------------------------------------------------------------------------------------------Login Box Begin
 */
#login{
	margin:auto;
	border:#f7f7f7 thick solid;
	width:300px;
	padding:10px 20px 10px 20px;
	background-color:#f7f7f7;
}

#login *{
	padding:5px;
}

#login a{
	font-size:12px;
}
/*
* -------------------------------------------------------------------------------------------Login Box End
*/


/*
* -------------------------------------------------------------------------------------------Forgot Password Box Begin
*/
#forgot_passowrd{
	margin:auto;
	border:#f7f7f7 thick solid;
	width:330px;
	padding:10px 20px 10px 20px;
	background-color:#f7f7f7;
}

#forgot_passowrd *{
	padding:5px;
}

#forgot_passowrd a{
	font-size:12px;
}
/*
* -------------------------------------------------------------------------------------------Forgot Password Box End
*/



/*
* -------------------------------------------------------------------------------------------Header Begin
* Total Height: 50px
*/

#header{
	padding:10px 0px 10px 0px;
	border-bottom:#2e2e2e solid thick;
	padding-top:30px;
}

#department-header{
		width:300px;
		padding-bottom:20px;
}

#current-visible{
		font-size:24px;
		text-transform:uppercase;
		text-align:justify;
		width:300px;
}

#select-options{
		position:absolute;
		z-index:900;
}

.options{
		background:white;
		width:300px;
		height:0px;
		font-size:12px;
		overflow:hidden;
}

.options:hover{
		color:blue;
		cursor:pointer;
}

#menubar a{
	text-decoration:none;
	margin:3px;
	padding:3px;
}

#menubar ul{
	list-style:none;
}

#menubar li{
	display:inline;
}

#menubar a:hover{
	text-decoration:underline;
}

#menubar{
	float:left;
}

#logout{
	float:right;
}

#logout a{
	text-decoration:none;
}

#logout a:hover{
	text-decoration: underline;	
}

#type_selection ul li{
		display:inline;
		margin:5px;
}
/*
* -------------------------------------------------------------------------------------------Header End
*/



/*
* -------------------------------------------------------------------------------------------Footer Begin
* Total Height: 30px;
*/
#footer{
	height:20px;
	padding:5px 0px 5px 0px;
	text-align:center;
	font-size:10px;
	border-top:#2e2e2e solid thick;
}
/*
* -------------------------------------------------------------------------------------------Footer End
*/

 
 
/*
* -------------------------------------------------------------------------------------------Main Begin
*/
#main{
	padding:10px 0px 10px 0px;
}
/*
* -------------------------------------------------------------------------------------------Main End
*/

/*
* -------------------------------------------------------------------------------------------Sidebar Begin
* Total Width: 160px;
*/
#sidebar{
	width:15%;
	margin:10px;
	float:left;
}

#sidebar ul{
	list-style:none;
}

#sidebar li{
	padding:5px 10px 10px 5px;
}

#sidebar img{
	margin-right:3px;
}
/*
* -------------------------------------------------------------------------------------------Sidebar End
*/



/*
* ------------------------------------------------------------------------------------------- Content Table Begin
* Min Width:800px;
*/

#content{
		width:80%;
		min-width:800px;
		float:left;
		padding:10px 0px 10px 0px;
}

#content td{
		padding:5px;
		word-wrap:break-word;
}

#contentTableHeader td{
		background:#2E2E2E;
		color:white;
		font-size:14px;
		font-weight:bold;
}

#contentTableHeader #sortArrow{
		margin-left:10px;
}

#contentTableHeader:hover{
    cursor:pointer;
}

#contentTable tbody tr:hover{
	background-color:#ff9;
}

/*--------------------------------------------- paging overrides ----------------------------------------*/

#pagingBarTop:hover, #paginBarBottom:hover {
	background:transparent !important;
	text-decoration:none !important;
}


#pagingBarTop, #pagingBarBottom{
	border-bottom: none !important;
	background:transparent !important;
	margin-bottom:5px;
}


/*paging menu styling */

.paging { padding:10px 0px 0px 0px; text-align:center; font-size:13px;}
.paging.display{text-align:right;}
.paging a, .paging span {padding:2px 8px 2px 8px;}
.paging span {font-weight:bold; color:#000; font-size:13px; }
.paging a {color:#000; text-decoration:none; border:1px solid #dddddd;}
.paging a:hover { text-decoration:none; background-color:#6C6C6C !important; color:#fff; border-color:#000;}
.paging span.prn { font-size:13px; font-weight:normal; color:#aaa; }
.paging a.prn { border:2px solid #dddddd;}
.paging a.prn:hover { border-color:#000;}
.paging p#total_count{color:#aaa; font-size:12px; padding-top:8px; padding-left:18px;}
.paging p#total_display{color:#aaa; font-size:12px; padding-top:10px;}

/*
* ------------------------------------------------------------------------------------------- Content Table End
*/

/*
* ------------------------------------------------------------------------------------------- Content Search Begin
*/

#contentSearch{
	background:#F3F3F3;
}

#contentSearch{
	padding:5px;
}

#contentSearchTable{
	margin:0px !important;
}

#contentSearchTable td{
	border-bottom:none !important;
}

/*
* ------------------------------------------------------------------------------------------- Content Search End
*/

.clear{
		clear:both;
}

/*-------------------------------------------------------Forms---------------------------------*/

.createForm {
	width: 100%;
}

.createForm fieldset {
	padding: 6px 10px 12px;
	border: 1px solid #2e2e2e;
	overflow: visible; /* Opera 8 won't enclose floated divs without this. */
}
.createForm fieldset legend{
	font-weight: bold;
	background: rgb(60,60,60);
	font-size:16px;
}

.createForm legend {
	padding: 5px;
	background: #333;
	width: 80%;
	color: #FFF;
	margin-bottom: 5px;
}

.cf-links {
	text-align: right;
	float: right;
	width: 20%;
}

.cf-links ul {
	list-style: none;
}

.cf-links li {
	display: inline;
}

.cf-links a{
	text-decoration: none;
	color: #FFF;
	font-size: 10px;
}

.createForm .pf-sidebox {
	position:absolute;
	left:600px;
	top:50px;
	width:200px;
	border:1px solid #999;
	padding: 5px;
	margin: 5px;
}

.createForm .pf-element {
	padding-bottom: 15px;
	display:block;
}

.createForm .pf-element .pf-note {
	margin-top: .5em;
	font-size: 70%;
	color: #555;
}

.pf-description{
		display:inline-block;
		width:250px;
}
.pf-content{
		display:inline-block;
}
.pf-description-float{
		float:left;
		width:250px;
}
.pf-content-float{
		float:left;
}
.pf-text-input{
		line-height:15px;
		border:1px solid;
		border-color:#CCCCCC;
		outline:groove thin #CCCCCC
}
.pf-text-input:focus{
		line-height:15px;
		border:1px solid;
		border-color:rgb(205,20,20);
		outline:groove thin rgb(205,20,20);
}
.pf-error{
		font-size:10px;
		color:red;
		display:none;
}
.readonly{
		border:none;
		outline:none;
		line-height:15px;
		font-weight:bold;
}
.readonly:focus{
		border:none;
		outline:none;
		line-height:15px;
		font-weight:bold;
		background:white !important;
}
#equipment-checkout-wrapper{
		min-width:95%;
		padding:0px 5px 0px 5px;
		margin:auto;
}
.holder{
		margin-bottom:10px;
}
#equipment-wrapper{
		margin-top:20px;
}
.equipment-input{
		width:22%;
		margin-left:1%;
}
.equipment-wrapper{
		float:left;
		width:23%;
		margin-left:1%;
}
.equipment{
		width:93%;
		float:left;
}
.equipment-functions{
		display: inline-block;
		float: right;
		padding-top: 3px;
}
.equipment-functions img{
		display: block;
		padding-bottom: 3px;
}
.not-scanned{
		background: rgb(215,81,75);
}
.scanned{
		background: rgb(161,214,86);
}