/*----------------------------  Main Page Styling  ----------------------------*/
.kitid{
		width:10%;
}

.equipmentid{
		width:10%
}

.userid{
		width:15%
}

.loans-desc{
		width:19%;
}

.issue_date{
		width:12%;
}

.due_date{
		width:12%;
}

.fine{
		width:10%;
}

.filler{
		width:90%;
}

.form-button{
		-webkit-appearance: button;
		-webkit-user-select: none;
		-moz-appearance: button;
		-moz-user-select: none; 		
		display: inline-block;
		width:100px;
		line-height: 28px;
		text-align: center;
		margin-left: 15px;
}
.form-button:hover{
		cursor: pointer;
}
